{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.85, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Digit Recognition</title>
</head>
<body>
    <div class="container">
        <h1><a href="/">Digit Recognition</a></h1>
        <p>Draw the number in the below canvas and press convert to recognise the digit. It may take some time to recognise the digit. Please give enough gap while drawing loops.</p>
        <a href="https://github.com/Subikesh/Digit-Recognition" class="src-code">Click here for the Source code</a>
        <canvas id="canvas-draw" width="420" height="420"></canvas>
        <button class="red-button" id="clear">Clear Canvas</button>
        <input type="submit" class="red-button" id="get-image" value="Convert">
        <!-- The recognised digit is printed here -->
        <div id="message">  </div>
    </div>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>